{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
{% trans 'Labels' %}
{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1>{% trans 'Labels' %}</h1>
    <p><a href="{% url 'create_label' %}">{% trans 'CreateLabel' %}</a></p>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for label in object_list %}
            <tr>
                <td scope="row">{{ label.id }}</th>
                <td scope="row">{{ label.name }}</td>
                <td scope="row">
                    <a href="{% url 'update_label' pk=label.id %}">{% trans 'Update' %}</a>
                    <br>
                    <a href="{% url 'delete_label' pk=label.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
